.navbar{
    width: 98%;
    height: 10vh;
    margin-bottom: 2vh;
    margin: 1em;
    background-color: #7577BE;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.navbarTitle{
    color: white;
    font-weight: bolder;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}